function Main.main 3
    push constant 10
    push constant 20
    call Rectangle.new 2
    pop local 0
    push constant 20
    push constant 30
    call Rectangle.new 2
    pop local 1
    push local 0
    call Rectangle.getArea 1
    pop local 2
    push local 2
    call Output.printInt 1
    pop temp 0
    call Output.println 0
    pop temp 0
    push constant 0
    return